@model TaskProject.Models.TaskDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskDetail</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
